body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	width: 300;
	height: 474;
	background-image: linear-gradient(#d1d1e0, #eeeeee);
	text-align: center;
	color: #292926;
	border: 2px solid #292926;
	margin: 0;
	padding: 0;
}

#sites_to_block_div {
	padding-top: 3px;
	font-size: 120%;
}

#working_status_div {
	padding-top: 10px;
    font-size: 130%;
    padding-bottom: 20px;
    margin: auto;
}

#workingFor {
	padding-top: 5px;
	font-size: 115%;
}

#stopWorkingBtn { 
	font-size: 125%;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

#blockAllSites {
	font-size: 130%;
}

#blockedSitesTextArea {
	max-height: 50%;
	max-width: 85%;
}