body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	width: 300;
	height: 350;
	background-image: linear-gradient(#c9c6c5, #eeeeee);
	text-align: center;
	color: #292926;
	border: 2px solid #292926;
	margin: 0;
	padding: 0;
}

#sites_to_block_div {
	font-size: 120%;
}

#working_status_div {
	padding-top: 30px;
    font-size: 130%;
    padding-bottom: 20px;
    margin: auto;
}

#stopWorkingBtn { 
	font-size: 125%;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

#blockAllSites {
	font-size: 130%;
}